.Rproj.user
.Rhistory
.RData
.Ruserdata
scratch_work/
Archive/
manuscript_data.RData
Data/hillshade_cropped_raster.tif
Reviews/
Revisions 2025/
Sent to Collaborators 2025.06.09/
Sent to Collaborators 2025.06.27/
Sent to Collaborators 2025.06.21/
Submission 2024.10.07/
Submission 2025.07.24/
